.calendar-heatmap text.month-name,
.calendar-heatmap text.day-initial {
    font-size: .5em;
    fill: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, 'Open Sans', sans-serif;
}
.calendar-heatmap .day-cell:hover {
    stroke: #555;
    stroke-width: 1px;
}
.calendar-heatmap-tooltip {
    position: absolute;
    z-index: 9999;
    padding: 0.75em;
    margin-bottom: 1em;
    color: #BBB;
    font-size: .75em;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    text-align: center;
}
.calendar-heatmap-tooltip > span {
    color: white;
    font-size: 0.75em;
    font-family: "Helvetica Neue", Helvetica, Arial, 'Open Sans', sans-serif;
}
